*{
	margin:0;
	padding:0;
	font-family:Century Gothic;	
}
header{
	background-image:url(../images/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height:200vh;
}
.unordered{
	float:right;
	list-style-type:none;
	margin-top:25px;
}
.unordered li{
	display:inline-block;
}
.unordered li.active a{
	color:#000;
	background-color:#fff;
}
.unordered li a{
	text-decoration:none;
	color:#fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition:0.6s ease;
}
.unordered li a:hover{
	background-color:#fff;
	color:#000;
}
.logo img{
	float:left;
	width:100px;
	height:100px;
}
.main{
	max-width:1500px;
	margin:auto;
}
form {
    overflow: hidden;
	border: 1px solid white;
	width:750px;
	height: 250px;
	margin-left: 400px;
	background-color:#5BC1C1;
}

form h3{
	margin-left:300px;
	font-size:20px;
	font-weight: bold;
}

p button{	
	font-size: 20px;
}

#btn5{
	font-size: 20px;
	margin-left: 250px;
}

.hide { max-width: 500px; max-height: 200px;margin-left:600px; }
#btn5 { padding: .5em 1em; text-decoration: none; }
#effect { width: 240px; height: 170px; padding: 0.4em; position: relative; color:yellow;font-weight:bold;}

div input {
	font-size: 20px;
	margin-left: 250px;
}

footer button a:link{color:black}
footer button a:visited{color:blue}
footer button a:hover{color:orange}
footer button a:active{color:red}
footer button a{ text-decoration: none;}

#h3{
	margin-left:3%;
	margin-top:5%;
	color:white;
	font-size:20px;
}

#h4{
	margin-left:45%;
	margin-top:-8%;
	color:white;
	font-size:20px;
}

#h5{
	margin-left:80%;
	margin-top:-6%;
	color:white;
	font-size:20px;
	
}

#h5 a:link{color:white;}
#h5 a:visited{color:blue}
#h5 a:hover{color:orange}
#h5 a:active{color:red}

#h5 a{ text-decoration: none;}
	

